*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background: #e8d8be;
}

html {
  font-size: 10px;
  background-color: black;
  background-color: #482e2e;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #482e2e;
  max-width: 100vw;
  margin: 0 auto;
  height: auto;
  overflow-x: hidden;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ECECEC;
}

h1 {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 7rem;
  font-size: 7.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #482e2e;
}

a.name {
  color: transparent;
}

.fixed-up {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  padding: 1.5rem;
  background-color: transparent;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1000000;
}
.fixed-up a.circle {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #fff;
  color: #EC9006;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed-up a.circle:hover {
  transform: translate(-50%, -50%) scale(1.6);
}

/* 1024 */
@media (max-width: 1024px) {
  h1 {
    line-height: 5.5rem;
    font-size: 6rem;
  }
  h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}
/* 768 */
@media (max-width: 768px) {
  h1 {
    line-height: 4.5rem;
    font-size: 5rem;
  }
  h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
  .fixed-up {
    justify-content: flex-start;
  }
  .fixed-up a.circle:hover {
    transform: translate(50%, -50%) scale(1.6);
  }
}
/* 640 */
@media (max-width: 640px) {
  h1 {
    line-height: 4rem;
    font-size: 4.5rem;
    letter-spacing: -1px;
  }
  h2 {
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .fixed-up {
    display: none !important;
  }
}
/* 565 */
@media (max-width: 565px) {
  h1 {
    line-height: 3.5rem;
    font-size: 3.5rem;
    letter-spacing: -1px;
  }
}
/* 475 */
/* 375 */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(72, 46, 46, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(72, 46, 46, 0.2);
}
.btn--orange {
  background-color: #EC9006;
  color: #fff;
}
.btn--orange::after {
  background-color: #EC9006;
}
.btn--white {
  background-color: #fff;
  color: #EC9006;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* automaticaly apply the styles up to zero percent before the animation starts */
  animation-fill-mode: backwards;
}
.btn--contact {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #ff7730;
  text-transform: none;
}

.card {
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  width: 49%;
  min-height: 35rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 45vh;
    margin-bottom: 2vh;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}
.card_side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.8s ease;
}
.card_side .project-name {
  width: 95%;
  max-height: 15%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 1%;
}
@media (max-width: 485px) {
  .card_side .project-name {
    max-height: 10%;
  }
}
.card_side .project-name h2 {
  color: #EC9006;
  text-transform: uppercase;
}
.card_side-main {
  width: 95%;
  min-height: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
@media (max-width: 485px) {
  .card_side-main {
    min-height: 85%;
  }
}
.card_side-main .front-info {
  width: 100%;
  min-height: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 485px) {
  .card_side-main .front-info {
    flex-direction: column;
    column-gap: 1%;
  }
}
.card_side-main .front-info .media {
  width: 57%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .card_side-main .front-info .media {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .card_side-main .front-info .media {
    width: 57%;
  }
}
@media (max-width: 485px) {
  .card_side-main .front-info .media {
    max-width: 100%;
    width: auto;
    max-height: 48%;
    height: auto;
    margin: 0 auto;
  }
}
.card_side-main .front-info .media img, .card_side-main .front-info .media video, .card_side-main .front-info .media picture, .card_side-main .front-info .media picture > img {
  max-width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: top;
  max-height: 100%;
}
.card_side-main .front-info .project-text {
  width: 40%;
  min-height: 100%;
  height: auto;
  background-color: #e8d8be;
  padding: 2%;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  overflow: hidden;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .card_side-main .front-info .project-text {
    width: 50%;
    font-size: 0.85rem;
  }
}
@media (max-width: 768px) {
  .card_side-main .front-info .project-text {
    width: 40%;
    font-size: 1rem;
  }
}
@media (max-width: 485px) {
  .card_side-main .front-info .project-text {
    width: 100%;
    min-height: 50%;
  }
}
.card_side-main .description {
  width: 100%;
  min-height: 16%;
  height: auto;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card_side-main .description .card_side-tags {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  list-style-type: none;
}
.card_side-main .description .card_side-tags .tag {
  margin-right: calc(1% + 0.8rem);
  margin-bottom: 1%;
  background-color: rgba(236, 144, 6, 0.5);
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  color: #482e2e;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0 1%;
  position: relative;
  height: 1.2rem;
  background: rgba(236, 144, 6, 0.5);
  border-radius: 3px 0 0 3px;
}
.card_side-main .description .card_side-tags .tag::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-left-color: rgba(236, 144, 6, 0.5);
  border-right: 0;
  margin-top: -0.6rem;
  margin-right: -0.6rem;
}
.card_side-main .description .card_side-tags .tag:hover {
  color: #fff;
  background: #EC9006;
  cursor: pointer;
  animation-name: bright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.card_side-main .description .card_side-tags .tag:hover::before {
  border-left-color: #EC9006;
  animation-name: bright_before;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes bright {
  0% {
    background-color: rgba(236, 144, 6, 0.5);
  }
  20% {
    background-color: rgba(236, 144, 6, 0.7);
  }
  40% {
    background-color: rgba(236, 144, 6, 0.8);
  }
  60% {
    background-color: rgba(236, 144, 6, 0.9);
  }
  80% {
    background-color: rgba(236, 144, 6, 0.8);
  }
  100% {
    background-color: #ec9006;
  }
}
@keyframes bright_before {
  0% {
    border-left-color: rgba(236, 144, 6, 0.5);
  }
  20% {
    border-left-color: rgba(236, 144, 6, 0.7);
  }
  40% {
    border-left-color: rgba(236, 144, 6, 0.8);
  }
  60% {
    border-left-color: rgba(236, 144, 6, 0.9);
  }
  80% {
    border-left-color: rgba(236, 144, 6, 0.8);
  }
  100% {
    border-left-color: #ec9006;
  }
}
.card_side-main .description .card_side-icons {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card_side-main .description .card_side-icons-front i.devicon-icon {
  font-size: 2.4rem;
  margin-right: 5%;
}
.card_side-main .description .card_side-icons-back a.github-link {
  color: #482e2e;
  text-decoration: none;
  display: flex;
}
.card_side-main .description .card_side-icons-back a.github-link:last-child {
  margin-left: 5%;
}
.card_side-main .description .card_side-icons-back a.github-link i.devicon-github-original-wordmark {
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #482e2e;
}
.card_side-main .description .card_side-icons-back a.github-link img {
  filter: invert(16%) sepia(7%) saturate(2579%) hue-rotate(314deg) brightness(103%) contrast(89%);
  align-items: center;
  justify-content: center;
  height: 2.3rem;
}
.card_side-main .description .card_side-icons-back a.github-link img.youtube-icon {
  height: 3rem;
}
.card_side-main .description .card_side-icons-back a.github-link:hover {
  color: #EC9006;
}
.card_side-main .description .card_side-icons-back a.github-link:hover i.devicon-github-original-wordmark {
  color: #EC9006;
}
.card_side-main .description .card_side-icons-back a.github-link:hover img {
  filter: invert(68%) sepia(41%) saturate(5978%) hue-rotate(6deg) brightness(101%) contrast(95%);
}
.card_side-front {
  height: 100%;
  background-color: #fff;
  z-index: 100;
}
@media (max-width: 768px) {
  .card_side-front {
    display: none;
  }
}
.card_side-back {
  height: 100%;
  background-color: #fff;
  transform: rotateY(180deg) translateZ(1px);
}
@media (max-width: 768px) {
  .card_side-back {
    transform: rotateY(0);
  }
}
.card:hover .card_side-front {
  transform: rotateY(-180deg);
}
@media (max-width: 768px) {
  .card:hover .card_side-front {
    transform: rotateY(0);
  }
}
.card:hover .card_side-back {
  transform: rotateY(0);
}
@media (max-width: 768px) {
  .card:hover .card_side-back {
    transform: rotateY(0);
  }
}
.card:nth-child(3) {
  display: none;
}

.skill {
  width: 90%;
  min-height: 100%;
  margin: 0 auto 5rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 10% 0;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skill h2 {
  max-width: 20%;
  margin-left: 5%;
  margin-right: 0;
  transform: skewX(12deg);
  text-align: left;
  font-size: 3rem;
  line-height: 3rem;
  color: #EC9006;
}
@media (max-width: 640px) {
  .skill h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.skill-list {
  min-width: 74%;
  min-height: 100%;
  margin: 1% 5% 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  row-gap: 1rem;
  column-gap: 3%;
  list-style-type: none;
  transform: skewX(12deg);
}
.skill-list-item {
  padding: 0.5rem;
  min-width: 30%;
  width: auto;
  font-family: "Roboto Mono", monospace;
  color: #482e2e;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
@media (max-width: 640px) {
  .skill-list-item {
    font-size: 1.6rem;
  }
}
@media (max-width: 400px) {
  .skill-list-item {
    font-size: 1.4rem;
  }
}
.skill-list-item i {
  margin-right: 0.5rem;
  color: inherit;
}
.skill-list-item img.icon {
  height: 2rem;
  margin-right: 0.5rem;
  color: inherit;
  filter: invert(16%) sepia(5%) saturate(3700%) hue-rotate(314deg) brightness(101%) contrast(89%);
}
@media (max-width: 640px) {
  .skill-list-item img.icon {
    height: 1.6rem;
  }
}
@media (max-width: 400px) {
  .skill-list-item img.icon {
    height: 1.4rem;
  }
}
.skill-list-item:nth-child(even) {
  color: #333;
}
.skill-list-item:nth-child(even) i {
  color: inherit;
}
.skill-list-item:nth-child(even) img.icon {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(27deg) brightness(94%) contrast(91%);
}
.skill:nth-child(2) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  transform: skewX(12deg);
}
.skill:nth-child(2) h2 {
  margin-right: 5%;
  margin-left: 0;
  width: auto;
  transform: skewX(-12deg);
  text-align: right;
}
.skill:nth-child(2) .skill-list {
  transform: skewX(-12deg);
}
.skill:hover {
  background-color: rgba(236, 144, 6, 0.4);
}
.skill:hover h2 {
  color: #fff;
}
.skill:hover .skill-list-item {
  background-color: rgba(255, 255, 255, 0.05);
}
.skill:last-child {
  margin-bottom: 0;
}

/* Navigation desktop */
.navbar {
  width: 100%;
  max-width: 1600px;
  min-height: 10%;
  height: auto;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3%;
  z-index: 100;
  background-color: rgba(236, 236, 236, 0.2);
}
.navbar-logo {
  z-index: 105;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 0.5rem;
}
.navbar-logo:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.navbar-logo:hover img#logo {
  filter: invert(63%) sepia(65%) saturate(2841%) hue-rotate(2deg) brightness(97%) contrast(96%);
}
.navbar-logo a.navbar_link {
  float: left;
  padding: 0;
}
.navbar-logo img#logo {
  filter: invert(17%) sepia(12%) saturate(1396%) hue-rotate(314deg) brightness(103%) contrast(92%);
  margin: 0;
  height: 4.8rem;
}
.navbar-logo span {
  background-color: rgba(236, 144, 6, 0.1);
  padding: 0.5rem 0.7rem;
  font-weight: 600;
}
.navbar-logo .navbar_link,
.navbar-logo .navbar_link:hover,
.navbar-logo .navbar_link:active {
  transform: translate(0, 0);
}
.navbar-logo .navbar_link span,
.navbar-logo .navbar_link:hover span,
.navbar-logo .navbar_link:active span {
  color: #482e2e;
  font-weight: 600;
}
.navbar-logo .navbar_link .dot,
.navbar-logo .navbar_link:hover .dot,
.navbar-logo .navbar_link:active .dot {
  display: none;
}
.navbar-menu {
  width: 74%;
}
.navbar_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.navbar_item {
  margin: 1rem;
}
.navbar_item:last-child {
  margin-left: 6rem;
  background-color: #EC9006;
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
}
.navbar_item:last-child .navbar_link,
.navbar_item:last-child .navbar_link:hover,
.navbar_item:last-child .navbar_link:active,
.navbar_item:last-child .navbar_link.active {
  transform: translate(0, 0);
}
.navbar_item:last-child .navbar_link span,
.navbar_item:last-child .navbar_link:hover span,
.navbar_item:last-child .navbar_link:active span,
.navbar_item:last-child .navbar_link.active span {
  color: #fff;
}
.navbar_item:last-child .navbar_link .dot,
.navbar_item:last-child .navbar_link:hover .dot,
.navbar_item:last-child .navbar_link:active .dot,
.navbar_item:last-child .navbar_link.active .dot {
  display: none;
}
.navbar_item:last-child:hover {
  background-color: rgba(236, 144, 6, 0.95);
}
.navbar_item:last-child .navbar_link:hover span {
  color: #eee;
}
.navbar_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_link:link, .navbar_link:visited {
  font-size: 1.7rem;
  font-weight: 500;
  color: #482e2e;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar_link:link span, .navbar_link:visited span {
  display: inline-block;
}
.navbar_link:hover, .navbar_link:active, .navbar_link.active {
  color: #EC9006;
  transform: translate(0, 0.6rem);
}
.navbar_link:hover span, .navbar_link:active span, .navbar_link.active span {
  color: #EC9006;
  font-weight: 500;
}
.navbar_link:hover .dot, .navbar_link:active .dot {
  display: block;
  background-color: transparent;
}
.navbar_link.active .dot, .navbar_link.active:hover .dot, .navbar_link.active:active .dot {
  display: block;
  background-color: #EC9006;
}
.navbar_link .dot {
  display: none;
  margin-top: 0.6rem;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #EC9006;
  border-radius: 50%;
}

/* Navigation tablet/mobile */
.navigation {
  display: none;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #EC9006;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2%;
  right: 5%;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5%;
  right: 5.5%;
  background-image: radial-gradient(#e8d8be, #EC9006);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 226%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #EC9006;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: calc(3.5rem - 1px);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 3px;
  background-color: #ECECEC;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navigation {
    display: block;
  }
}
@media (max-width: 485px) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
  }
  .navigation__background {
    height: 4rem;
    width: 4rem;
  }
  .navigation__icon {
    margin-top: calc(2.5rem - 1px);
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.8rem;
    height: 2.5px;
  }
}
@media (max-width: 375px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
  }
  .navigation__background {
    height: 3rem;
    width: 3rem;
  }
  .navigation__icon {
    margin-top: calc(2rem - 1px);
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 1.5px;
  }
}
.section-home {
  height: 100vh;
  min-height: 70rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .section-home {
    height: 100vh;
    min-height: 80rem;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 375px) {
  .section-home {
    min-height: 50rem;
  }
}
.section-home .home-social {
  position: absolute;
  top: 20vh;
  right: 0;
  height: 32rem;
  width: 10rem;
}
@media (max-width: 768px) {
  .section-home .home-social {
    display: none;
  }
}
.section-home .home-social-wrapper {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  background-color: #e8d8be;
  border-radius: 3px 0 0 3px;
  margin-bottom: 1rem;
  opacity: 0;
  animation: 1s slideIn ease-in forwards;
}
.section-home .home-social-wrapper:first-child {
  animation-delay: 2s;
}
.section-home .home-social-wrapper:nth-child(2) {
  animation-delay: 1s;
}
.section-home .home-social-wrapper:last-child {
  margin-bottom: 0;
}
.section-home .home-social-wrapper i {
  font-size: 6rem;
  line-height: 6rem;
}
.section-home .home-social-wrapper .cv-icon {
  height: 6rem;
  width: 6rem;
  background-color: #482e2e;
  border-radius: 7px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 4.4rem;
  line-height: 4.4rem;
  font-weight: bolder;
  color: #e8d8be;
}
.section-home .home-social-wrapper .cv-icon:hover {
  color: #EC9006;
  background-color: #fff;
}
.section-home .home-social-wrapper:hover {
  background-color: #ec9006;
  animation: slideIn, slideInOnHover 1s ease-in-out forwards;
}
.section-home .home-social-wrapper:hover a {
  color: #fff;
}
.section-home-wrapper {
  height: 100%;
  width: 83%;
  margin: 0 auto;
  padding: 7% 0 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .section-home-wrapper {
    height: 100vh;
    padding: 0;
  }
}
@media (max-width: 485px) {
  .section-home-wrapper {
    justify-content: space-evenly;
    padding: 8% 0 10% 0;
  }
}
.section-home-heading {
  z-index: 11;
  text-transform: uppercase;
  max-height: 20rem;
  height: auto;
}
@media (max-width: 375px) {
  .section-home-heading {
    max-height: 15rem;
  }
}
.section-home-main {
  width: 100%;
  max-height: 30rem;
  height: auto;
  font-size: 1.6rem;
}
@media (max-width: 375px) {
  .section-home-main {
    max-height: 20rem;
  }
}
.section-home_photo {
  width: 60%;
  height: 100%;
  float: left;
  shape-outside: polygon(0 0, 100% 0, 100% 90%, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
  position: relative;
}
@media (max-width: 768px) {
  .section-home_photo {
    width: 100%;
  }
}
.section-home_photo img {
  width: 100%;
  filter: grayscale(0.5);
}
.section-home_image {
  transition: all 0.5s;
  backface-visibility: hidden;
  transform: scale(1.2);
}
.section-home_photo:hover .section-home_image {
  transform: scale(1);
}
.section-home-bottom {
  width: 100%;
  margin-top: -5rem;
  max-height: 20rem;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .section-home-bottom {
    max-height: 15rem;
  }
}
@media (max-width: 485px) {
  .section-home-bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 485px) {
  .section-home-bottom .arrow {
    order: 2;
  }
}
.section-home-bottom .arrow .arrow-big {
  display: block;
}
@media (max-width: 640px) {
  .section-home-bottom .arrow .arrow-big {
    display: none;
  }
}
.section-home-bottom .arrow .arrow-small {
  display: none;
}
@media (max-width: 640px) {
  .section-home-bottom .arrow .arrow-small {
    display: block;
  }
}
.section-home-bottom .based-in {
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 485px) {
  .section-home-bottom .based-in {
    order: 1;
    width: 100%;
    margin-bottom: 2%;
  }
}
.section-home-bottom .name {
  text-align: right;
}
@media (max-width: 485px) {
  .section-home-bottom .name {
    order: 3;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(12rem);
    opacity: 0;
  }
  25% {
    transform: translateX(9rem);
  }
  50% {
    transform: translateX(6rem);
  }
  75% {
    transform: translateX(3rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInOnHover {
  0% {
    opacity: 1;
    width: 10rem;
    padding-right: 2rem;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    width: 12rem;
    padding-right: 4rem;
    transform: translateX(-2rem);
  }
}
.section-contact {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.section-contact .title {
  color: #ECECEC;
}
@media (max-width: 565px) {
  .section-contact .title {
    display: none;
  }
}
.section-contact-main {
  margin: 6% auto 1.5rem auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .section-contact-main {
    margin: 7% auto 1.5rem auto;
  }
}
@media (max-width: 565px) {
  .section-contact-main {
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
  }
}
.section-contact-main .cv-wrapper {
  width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  background-color: white;
}
@media (max-width: 768px) {
  .section-contact-main .cv-wrapper {
    width: 45%;
  }
}
@media (max-width: 565px) {
  .section-contact-main .cv-wrapper {
    display: none;
  }
}
.section-contact-main .cv-wrapper iframe {
  width: 110%;
  min-height: 85%;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  transform: translateY(-6%);
}
@media (max-width: 768px) {
  .section-contact-main .cv-wrapper iframe {
    transform: translateY(-10%);
    width: 130%;
    height: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .section-contact-main .cv-wrapper iframe {
    transform: translateY(-6%);
  }
}
.section-contact-main .cv-wrapper .button-wrapper {
  max-height: 15%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-contact-main .cv-wrapper .button-wrapper .btn {
  height: auto;
  width: auto;
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  .section-contact-main .cv-wrapper .button-wrapper .btn {
    width: 40%;
  }
}
.section-contact-main .cv-wrapper .button-wrapper .btn a {
  text-decoration: none;
  color: #fff;
}
.section-contact-main .presentation-wrapper {
  width: 50%;
  min-height: 153%;
  height: auto;
  background-color: rgba(255, 119, 48, 0.9);
  z-index: 10;
  transform: translate(6%, -2.3%);
  padding: 3%;
}
@media (max-width: 768px) {
  .section-contact-main .presentation-wrapper {
    width: 55%;
    min-height: 140%;
  }
}
@media (max-width: 565px) {
  .section-contact-main .presentation-wrapper {
    width: 83%;
    min-height: 125%;
    transform: translate(0, 0);
    padding: 15% 5%;
  }
}
@media (max-width: 475px) {
  .section-contact-main .presentation-wrapper {
    min-height: 127%;
    width: 83%;
    padding: 10% 5%;
  }
}
@media (max-width: 375px) {
  .section-contact-main .presentation-wrapper {
    min-height: 110%;
    padding: 7% 5% 5% 5%;
  }
}
.section-contact-main .presentation-wrapper .presentation-img-wrapper {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 30vh;
  height: 30vh;
  overflow: hidden;
  border-radius: 50%;
  transform: translateZ(0);
}
@media (max-width: 1440px) {
  .section-contact-main .presentation-wrapper .presentation-img-wrapper {
    float: left;
    margin: 0 5% 5% 0;
  }
}
@media (max-width: 1024px) {
  .section-contact-main .presentation-wrapper .presentation-img-wrapper {
    width: 25vh;
    height: 25vh;
  }
}
@media (max-width: 840px) {
  .section-contact-main .presentation-wrapper .presentation-img-wrapper {
    width: 20vh;
    height: 20vh;
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .section-contact-main .presentation-wrapper .presentation-img-wrapper {
    width: 25vh;
    height: 25vh;
  }
}
@media (max-width: 640px) {
  .section-contact-main .presentation-wrapper .presentation-img-wrapper {
    width: 20vh;
    height: 20vh;
  }
}
.section-contact-main .presentation-wrapper .presentation-img {
  width: 100%;
  transform: rotate(-10deg) scale(1.4) translate(-7%, 14%);
}
.section-contact-main .presentation-wrapper .presentation-text {
  margin-bottom: 5%;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  line-height: 2.1rem;
}
@media (max-width: 1440px) {
  .section-contact-main .presentation-wrapper .presentation-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .section-contact-main .presentation-wrapper .presentation-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .section-contact-main .presentation-wrapper .presentation-text {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 375px) {
  .section-contact-main .presentation-wrapper .presentation-text {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-contact-main .presentation-wrapper .presentation-text:last-child {
    display: none;
  }
}
@media (max-width: 320px) and (max-height: 500px) {
  .section-contact-main .presentation-wrapper .presentation-text:last-child {
    display: none;
  }
}
.section-contact-footer {
  width: 100%;
  min-height: 30%;
  height: auto;
  background-color: #EC9006;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
}
@media (max-width: 840px) {
  .section-contact-footer {
    padding: 5%;
  }
}
@media (max-width: 475px) {
  .section-contact-footer {
    padding: 8% 5%;
  }
}
.section-contact-footer .footer-contacts {
  min-height: 100%;
  height: auto;
}
.section-contact-footer .footer-contacts-wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  color: #482e2e;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 5%;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .section-contact-footer .footer-contacts-wrapper {
    justify-content: flex-end;
    gap: 3%;
    margin-bottom: 0;
    padding-top: 0;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-wrapper {
    row-gap: 1%;
  }
}
.section-contact-footer .footer-contacts-wrapper h2 {
  color: #fff;
  margin-bottom: 2rem;
  width: 100%;
}
@media (max-width: 768px) {
  .section-contact-footer .footer-contacts-wrapper h2 {
    font-size: 2.4rem;
    text-align: end;
  }
}
@media (max-width: 565px) {
  .section-contact-footer .footer-contacts-wrapper h2 {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-wrapper h2 {
    font-size: 1.8rem;
  }
}
.section-contact-footer .footer-contacts-wrapper .footer-icons-wrapper {
  max-height: 100%;
  height: auto;
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-contact-footer .footer-contacts-wrapper .footer-icons-wrapper .contact-social-icon {
  text-decoration: none;
  font-size: 48px;
  color: #fff;
}
.section-contact-footer .footer-contacts-wrapper .footer-icons-wrapper .contact-social-icon:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.2);
}
.section-contact-footer .footer-contacts-wrapper .btn-mobile {
  display: none;
}
.section-contact-footer .footer-contacts-wrapper .btn-mobile::after {
  display: none;
}
@media (max-width: 565px) {
  .section-contact-footer .footer-contacts-wrapper .btn-mobile {
    display: block;
    width: 115px;
    height: 100%;
    margin-top: 15px;
    position: static;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
@media (max-width: 475px) {
  .section-contact-footer .footer-contacts-wrapper .btn-mobile {
    font-size: 1.1rem;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-wrapper .btn-mobile {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
}
.section-contact-footer .footer-contacts-phone, .section-contact-footer .footer-contacts-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  max-height: 100%;
  height: auto;
  margin-top: 10px;
}
.section-contact-footer .footer-contacts-phone i.contact-icon, .section-contact-footer .footer-contacts-email i.contact-icon {
  width: auto;
  align-self: baseline;
}
.section-contact-footer .footer-contacts-phone i.contact-icon.fa-envelope, .section-contact-footer .footer-contacts-email i.contact-icon.fa-envelope {
  transform: translateY(-4%);
}
.section-contact-footer .footer-contacts-phone i.contact-icon.fa-mobile-screen-button, .section-contact-footer .footer-contacts-email i.contact-icon.fa-mobile-screen-button {
  transform: translateY(5%);
}
@media (max-width: 565px) {
  .section-contact-footer .footer-contacts-phone i.contact-icon, .section-contact-footer .footer-contacts-email i.contact-icon {
    font-size: 1.8rem;
  }
  .section-contact-footer .footer-contacts-phone i.contact-icon::before, .section-contact-footer .footer-contacts-email i.contact-icon::before {
    font-size: 1.8rem;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-phone i.contact-icon, .section-contact-footer .footer-contacts-email i.contact-icon {
    font-size: 1.5rem;
  }
  .section-contact-footer .footer-contacts-phone i.contact-icon::before, .section-contact-footer .footer-contacts-email i.contact-icon::before {
    font-size: 1.5rem;
  }
}
.section-contact-footer .footer-contacts-phone .contact-email,
.section-contact-footer .footer-contacts-phone .contact-phone, .section-contact-footer .footer-contacts-email .contact-email,
.section-contact-footer .footer-contacts-email .contact-phone {
  max-height: 100%;
  width: 100%;
  margin-left: 1rem;
}
.section-contact-footer .footer-contacts-phone .contact-email a.phone, .section-contact-footer .footer-contacts-phone .contact-email a.email,
.section-contact-footer .footer-contacts-phone .contact-phone a.phone,
.section-contact-footer .footer-contacts-phone .contact-phone a.email, .section-contact-footer .footer-contacts-email .contact-email a.phone, .section-contact-footer .footer-contacts-email .contact-email a.email,
.section-contact-footer .footer-contacts-email .contact-phone a.phone,
.section-contact-footer .footer-contacts-email .contact-phone a.email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.6rem;
  line-height: 2rem;
  max-height: 100%;
  color: #482e2e;
}
@media (max-width: 565px) {
  .section-contact-footer .footer-contacts-phone .contact-email a.phone, .section-contact-footer .footer-contacts-phone .contact-email a.email,
  .section-contact-footer .footer-contacts-phone .contact-phone a.phone,
  .section-contact-footer .footer-contacts-phone .contact-phone a.email, .section-contact-footer .footer-contacts-email .contact-email a.phone, .section-contact-footer .footer-contacts-email .contact-email a.email,
  .section-contact-footer .footer-contacts-email .contact-phone a.phone,
  .section-contact-footer .footer-contacts-email .contact-phone a.email {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-phone .contact-email a.phone, .section-contact-footer .footer-contacts-phone .contact-email a.email,
  .section-contact-footer .footer-contacts-phone .contact-phone a.phone,
  .section-contact-footer .footer-contacts-phone .contact-phone a.email, .section-contact-footer .footer-contacts-email .contact-email a.phone, .section-contact-footer .footer-contacts-email .contact-email a.email,
  .section-contact-footer .footer-contacts-email .contact-phone a.phone,
  .section-contact-footer .footer-contacts-email .contact-phone a.email {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.section-contact-footer .footer-contacts-phone .contact-email a.phone .label, .section-contact-footer .footer-contacts-phone .contact-email a.email .label,
.section-contact-footer .footer-contacts-phone .contact-phone a.phone .label,
.section-contact-footer .footer-contacts-phone .contact-phone a.email .label, .section-contact-footer .footer-contacts-email .contact-email a.phone .label, .section-contact-footer .footer-contacts-email .contact-email a.email .label,
.section-contact-footer .footer-contacts-email .contact-phone a.phone .label,
.section-contact-footer .footer-contacts-email .contact-phone a.email .label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 3%;
  font-size: 1.8rem;
}
@media (max-width: 565px) {
  .section-contact-footer .footer-contacts-phone .contact-email a.phone .label, .section-contact-footer .footer-contacts-phone .contact-email a.email .label,
  .section-contact-footer .footer-contacts-phone .contact-phone a.phone .label,
  .section-contact-footer .footer-contacts-phone .contact-phone a.email .label, .section-contact-footer .footer-contacts-email .contact-email a.phone .label, .section-contact-footer .footer-contacts-email .contact-email a.email .label,
  .section-contact-footer .footer-contacts-email .contact-phone a.phone .label,
  .section-contact-footer .footer-contacts-email .contact-phone a.email .label {
    font-size: 1.4rem;
  }
}
@media (max-width: 375px) {
  .section-contact-footer .footer-contacts-phone .contact-email a.phone .label, .section-contact-footer .footer-contacts-phone .contact-email a.email .label,
  .section-contact-footer .footer-contacts-phone .contact-phone a.phone .label,
  .section-contact-footer .footer-contacts-phone .contact-phone a.email .label, .section-contact-footer .footer-contacts-email .contact-email a.phone .label, .section-contact-footer .footer-contacts-email .contact-email a.email .label,
  .section-contact-footer .footer-contacts-email .contact-phone a.phone .label,
  .section-contact-footer .footer-contacts-email .contact-phone a.email .label {
    font-size: 1.2rem;
  }
}
.section-contact-footer .footer-contacts-phone .contact-email a.phone span.contact-link-text, .section-contact-footer .footer-contacts-phone .contact-email a.email span.contact-link-text,
.section-contact-footer .footer-contacts-phone .contact-phone a.phone span.contact-link-text,
.section-contact-footer .footer-contacts-phone .contact-phone a.email span.contact-link-text, .section-contact-footer .footer-contacts-email .contact-email a.phone span.contact-link-text, .section-contact-footer .footer-contacts-email .contact-email a.email span.contact-link-text,
.section-contact-footer .footer-contacts-email .contact-phone a.phone span.contact-link-text,
.section-contact-footer .footer-contacts-email .contact-phone a.email span.contact-link-text {
  width: 100%;
  height: inherit;
}
.section-contact-footer .footer-contacts-phone .contact-email a.phone:hover, .section-contact-footer .footer-contacts-phone .contact-email a.email:hover,
.section-contact-footer .footer-contacts-phone .contact-phone a.phone:hover,
.section-contact-footer .footer-contacts-phone .contact-phone a.email:hover, .section-contact-footer .footer-contacts-email .contact-email a.phone:hover, .section-contact-footer .footer-contacts-email .contact-email a.email:hover,
.section-contact-footer .footer-contacts-email .contact-phone a.phone:hover,
.section-contact-footer .footer-contacts-email .contact-phone a.email:hover {
  color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
  .section-contact-footer .footer-contacts-email {
    margin-bottom: 4%;
  }
}
.section-contact-footer .footer-contacts-phone {
  margin-right: 4%;
}

.section-projects {
  background-color: rgba(236, 144, 6, 0.7);
  position: relative;
  height: 100%;
}
.section-projects #middle-of-project-page-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 65vh;
  left: 0;
}
.section-projects aside.scroll-content {
  width: 6%;
  background-color: rgba(119, 119, 119, 0.05);
  margin: 2rem 0 2rem 1%;
  border-radius: 7px;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .section-projects aside.scroll-content {
    display: none;
    visibility: hidden;
  }
}
.section-projects aside.scroll-content p.scroll-text {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 1.5rem 1% 1rem 1%;
}
.section-projects aside.scroll-content img.scroll-img {
  max-width: 100%;
  margin: 0 1% 1.5rem 0;
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
.section-projects aside.scroll-content.down {
  top: 100vh;
}
.section-projects aside.scroll-content.down img.scroll-img {
  animation-name: stretchRotated;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
.section-projects-wrapper {
  margin: 7% auto 0 auto;
  padding-bottom: calc(7% - 2rem);
  width: 83%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
@media (max-width: 768px) {
  .section-projects-wrapper {
    max-height: 100%;
    margin: 5vh auto 0 auto;
    justify-content: center;
    align-content: flex-start;
  }
}

@keyframes stretch {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1.5rem);
  }
}
@keyframes stretchRotated {
  0% {
    transform: rotate(180deg) translateY(1.5rem);
  }
  100% {
    transform: rotate(180deg) translateY(0);
  }
}
.section-skills {
  min-height: calc(100vh + 14px);
  height: auto;
  height: 100%;
  padding: 8% 0;
  background-color: rgba(236, 144, 6, 0.2);
  position: relative;
}
.section-skills .title {
  color: transparent;
}
.section-skills-wrapper {
  margin: 0 auto;
  width: 83%;
  min-height: calc(100vh - 10rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 640px) {
  .section-skills-wrapper {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
