.section-contact {
    height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
        color: $color-primary;
    } 

    &-main {
        margin: 7% auto 3% auto;
        width: 83%;
        height: 52%;
        display: flex;
        justify-content: space-between;
        // align-items: space-between;

        .cv-wrapper { 
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            background-color: rgba($color-light, 0.3);

            iframe {
                // --mask: linear-gradient(to bottom,
                // rgba(0,0,0, 1) 0,rgba(0,0,0, 1) 80%,
                // rgba(0,0,0, 0) 94%,rgba(0,0,0, 0) 0
                // ) 100% 50% / 100% 100% repeat-x;
                // width: 100%;
                // height: 85%;
                border: none;
                margin: 0;
                padding: 0;
                transform: translateY(-10%);
                width: 110%;
                height: 100%;
                // transform: translateY(-10%);
                // -webkit-mask: var(--mask); 
                // mask: var(--mask);
            }

            .btn {
                height: auto;
                width: 30%;
                margin-bottom: 1%;
                a {
                    text-decoration: none;
                    color: $color-light;
                }
            }
        }

        .presentation {
            &-wrapper {
                width: 48%;
                height: 150%;
                background-color: rgba(#ff7730,.9);
                z-index: 10;
                transform: translate(6%, -2.3%);
                padding: 4%;
                overflow: hidden;
                overflow-y: auto;


                .presentation-img-wrapper {
                    // float: left;
                    margin: 0 auto;
                    // margin-right: 2rem;
                    margin-bottom: 4rem;
                    width: 30vh;
                    height: 30vh;
                    overflow: hidden;
                    border-radius: 50%;
                }

                .presentation-img {
                    width: 100%;
                    transform: rotate(-10deg) scale(1.4) translate(-7%, 14%);
                }

                // .presentation-big-text {
                //     display: none;
                //     text-align: right;
                //     font-family: 'Sriracha', cursive;
                //     font-size: 12rem;
                //     line-height: 12rem;
                //     color: $color-primary-light-orange;
                //     // margin-bottom: 1rem;
                //     transform: rotate(-3deg) translateY(-15%);
                // }

                .presentation-text {
                    margin-bottom: 5%;
                    color: $color-light;
                    font-family: 'Roboto Mono', monospace;
                    font-size: 1.5rem;
                }
            }
        }
    }

    &-footer {
        width: 100%;
        height: 38%;
        background-color: $color-primary-bright-orange;
        padding: 1% 50% 1% 9%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;

        .btn-mobile {
            display: none;
        }
        
        .footer-contacts {
            &-wrapper {
                width: 70%;
                height: 97%;
                color: $color-dark;
                font-size: 1.4rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-bottom: 3%;
                
                h2 {
                    color: $color-light;
                    margin-bottom: 2%;
                }

            }
            
            &-phone, &-email {
                display: flex;
                flex-direction: row;
                position: relative;
                
                a {
                    text-decoration: none;
                    color: $color-dark;

                    &:hover {
                        color: $color-light;
                    }
                }

                i.contact-icon {
                    width: 5%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-20%);
                    left: 0;
                }

                i.fa-mobile-screen-button {
                    transform: translateY(-12%);
                }

                .contact-email,
                .contact-phone {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-left: 7%;

                    .label {
                        text-transform: uppercase;
                        margin-bottom: 3%;
                    }
                }
            }
        }

        .footer-icons-wrapper {
            width: 25%;
            height: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-bottom: 7%;

            a {
                text-decoration: none;
                font-size: 6rem;
                color: $color-light;

                &:hover {
                    color: rgba($color-light, 0.8);
                    transform: scale(1.2);
                }
            }
        }

        a.circle {
            display: block;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: $color-light;
            color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 20%;
            right: 1%;

            i {
                margin-bottom: 5%;
            }
    
            .arrow-text {
                color: $color-primary-bright-orange;
            }

            &:hover {
                transform: translate(-50%, -50%) scale(2);
                z-index: 100;
            }
        }
    }
}

/* Media queries */
@media (max-width: 1440px) {
    .section-contact {
        &-main {
            .presentation-wrapper{
                .presentation-img-wrapper {
                    float: left;
                    margin: 0 5% 5% 0;
                }

                .presentation-text {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: 1230px) {
    .section-contact {
        &-main {
            .presentation-wrapper{
                .presentation-text {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .section-contact {
        &-main {
            .presentation-wrapper{
                .presentation-img-wrapper {
                    width: 25vh;
                    height: 25vh;
                }

                .presentation-text {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 840px) {
    .section-contact {
        &-main {
            .presentation-wrapper{
                .presentation-img-wrapper {
                    width: 20vh;
                    height: 20vh;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-contact {
        &-main {
            margin: 7% auto 3% auto;
            width: 94%;

            .cv-wrapper {
                width: 45%;

                iframe {
                    transform: translateY(-10%);
                    width: 130%;
                    height: 100%;
                }

                .btn {
                    width: 40%;
                }
            }

            .presentation-wrapper {
                width: 55%;
                height: 140%;

                .presentation-img-wrapper {
                    width: 25vh;
                    height: 25vh;
                    // float: center;
                    // margin: 0 auto;
                    margin-bottom: 2rem;
                }

                .presentation-text {
                    font-size: 1.1rem;
                }
            }

        }
        &-footer {
            // height: 30%;
            padding: 1% 4% 1% 8%;
            align-items: center;

            .footer-contacts-wrapper {
                width: 45%;
                height: 60%;
                justify-content: flex-start;
                margin-bottom: 0;

                h2 {
                    margin-bottom: 5%;
                }

                .footer-contacts-email,
                .footer-contacts-phone {
                    padding-left: 2%;

                    i.contact-icon {
                        width: 8%;
                    }
                }

                .footer-contacts-email {
                    margin-bottom: 4%;
                }
            }

            .footer-icons-wrapper {
                width: 50%;
                height: 95%;
                margin-bottom: 0;
                justify-content: flex-end;
                // align-items: flex-start;
                // padding-top: 17%;
                gap: 5%;
            }

            a.circle {
                width: 7rem;
                height: 7rem;
                bottom: 5%;
                left: 3%;
            }

        }
    }
}

@media (max-width: 640px) {
    .section-contact {
        &-main {
            .presentation-wrapper{
                .presentation-img-wrapper {
                    width: 20vh;
                    height: 20vh;
                }

                // .presentation-text {
                //     font-size: 1.2rem;
                // }
            }
        }
    }
}

@media (max-width: 565px) {
    .section-contact {
        .title {
            display: none;
        }

        &-main {
            width: 100%;
            justify-content: flex-start;
            margin-top: 0;

            .cv-wrapper {
                display: none;
            }

            .presentation-wrapper {
                width: 83%;
                height: 125%;
                transform: translate(0, 0);

                .presentation-img-wrapper {
                    // width: 25vh;
                    // height: 25vh;
                }

                // .presentation-big-text {
                //     font-size: 9rem;
                //     line-height: 9rem;
                // }

                // .presentation-text {
                //     font-size: 1.2rem;
                // }
            }
        }

        &-footer {
            padding: 15% 4% 1% 8%;
            align-items: flex-start;

            .footer-contacts-wrapper {
                // height: 60%;
                width: 60%;
                // margin-bottom: 0;
                // justify-content: flex-start;
                
                h2 {
                    font-size: 2rem;
                    // margin-top: 10%;
                    // margin-bottom: 5%;
                }
            }

            .footer-icons-wrapper {
                width: 30%;
                height: 40%;
                // padding-bottom: 20%;
                // margin-bottom: 0;
                justify-content: space-around;
                align-items: flex-start;
                gap: 0;

                .btn-mobile {
                    display: block;
                    width: 80%;
                    position: static;
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-bottom: 25%;
                }
            
                a {
                    font-size: 4rem;
                }
            }

            a.circle {
                display: none;
            }
        }
    }
}

@media (max-width: 475px) {
    .section-contact {
        &-main {
            .presentation-wrapper {
                height: 127%;
                width: 83%;

                .presentation-img-wrapper {
                    // float: center;
                    // margin-top: 2rem;
                    // margin-left: 50%;
                    // transform: translateX(-50%);
                }
    
                .presentation-text {
                    // text-align: center;
                    // font-size: 1rem;
                }
            }
        }

        &-footer {
            // padding: 3% 4% 1% 8%;
            .footer-contacts {
                
                &-wrapper {
                    font-size: 1.1rem;
                }
            }

            .footer-icons-wrapper {
                padding-bottom: 12%;

                .btn-mobile {
                    font-size: 1.1rem;
                }

                a {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .section-contact {
        &-main {
            .presentation-wrapper .presentation-text {
                font-size: 1rem;
            }
        }
        &-footer {
            .footer-contacts-wrapper {
                h2 {
                    margin-bottom: 7%;
                }

                .footer-contacts-phone, .footer-contacts-email {
                    padding-left: 5%;

                    i.contact-icon {
                        width: 10%;
                    }
                }
                    
            }

            .footer-icons-wrapper {
                padding-bottom: 30%;

                .btn-mobile {
                    padding: 1rem 1.5rem;
                    font-size: 1rem;
                }

                a {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 640px) {}