.section-skills {
    min-height: 100%;
    height: auto;
    padding: 7% 0;
    background-color: rgba($color-primary-bright-orange, .2);
    position: relative;

    .title {
        color: transparent;
    }

    &-wrapper {
        margin: 0 auto;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
