.section-skills {
    min-height: calc(100vh + 14px);
    height: auto;
    height: 100%;
    padding: 8% 0;
    background-color: rgba($color-primary-bright-orange, .2);
    position: relative;

    .title {
        color: transparent;
    }

    &-wrapper {
        margin: 0 auto;
        width: 83%;
        min-height: calc(100vh - 10rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 1px solid red;

        @media (max-width: 640px) {
            width: 90%;
        }
    }
}
