// todo: do not center pictures vertically
.card {
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    perspective: 150rem;
    width: 49%;
    // height: 48%; // for 2 rows
    height: 32%; // for 3 rows
  
    &_side {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: all 0.8s ease;

      .project-name {
        width: 95%;
        height: 15%;
        display: flex;
        align-items: center;

        h2 {
          color: $color-primary-bright-orange;
          text-transform: uppercase;
        }
      }

      &-main {
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        .front-info {
          width: 100%;
          height: 80%;
          overflow: hidden;
          overflow-y: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          .media {
            width: 57%;
            height: 100%;
            // background-color: $color-grey-light-2;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img, video, picture, picture > img {
              max-width: 100%;
              object-fit: scale-down;
              height: 100%;
            }
          }

          .project-text {
            width: 40%;
            height: 100%;
            background-color: $color-primary-light-orange;
            padding: 2%;
            font-family: 'Roboto Mono', monospace;
            font-size: 1rem;
            overflow: hidden;
            overflow-y: auto;
          }
        }

        .description {
          width: 100%;
          height: 16%;
          padding: 0 2%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;

          .card_side-tags {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            list-style-type: none;
            
            .tag {
                margin-right: calc(1% + 0.8rem);
                margin-bottom: 1%;
                background-color: rgba($color-primary-bright-orange, .5);
                font-family: 'Roboto Mono', monospace;
                font-size: .8rem;
                color: $color-dark;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                padding: 0 1%;

                position: relative;
                height: 1.2rem;
                background: rgba($color-primary-bright-orange, .5);
                border-radius: 3px 0 0 3px;

                &::before {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 50%;
                  width: 0;
                  height: 0;
                  border: 0.6rem solid transparent;
                  border-left-color: rgba($color-primary-bright-orange, .5);
                  border-right: 0;
                  margin-top: -0.6rem;
                  margin-right: -0.6rem;
                }

                &:hover {
                  color: $color-light;
                  background: $color-primary-bright-orange;
                  cursor: pointer;
                  animation-name: bright;
                  animation-duration: 1s;
                  animation-timing-function: ease-out;
                }

                &:hover::before {
                  border-left-color: $color-primary-bright-orange;
                  animation-name: bright_before;
                  animation-duration: 1s;
                  animation-timing-function: ease-out;
                }

                @keyframes bright {
                  0% {background-color: rgba($color-primary-bright-orange, .5);}
                  20% {background-color: rgba($color-primary-bright-orange, .7);}
                  40% {background-color: rgba($color-primary-bright-orange, .8);}
                  60% {background-color: rgba($color-primary-bright-orange, .9);}
                  80% {background-color: rgba($color-primary-bright-orange, .8);}
                  100% {background-color: rgba($color-primary-bright-orange, 1);}
                }

                @keyframes bright_before {
                  0% {border-left-color: rgba($color-primary-bright-orange, .5);}
                  20% {border-left-color: rgba($color-primary-bright-orange, .7);}
                  40% {border-left-color: rgba($color-primary-bright-orange, .8);}
                  60% {border-left-color: rgba($color-primary-bright-orange, .9);}
                  80% {border-left-color: rgba($color-primary-bright-orange, .8);}
                  100% {border-left-color: rgba($color-primary-bright-orange, 1);}
                }

            }
          }

          .card_side-icons {
            width: 18%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            &-front {
              i.devicon-icon {
                font-size: calc($default-font-size * 1.5);
                margin-right: 5%;
              }
            }

            &-back {
              a.github-link {
                color: $color-dark;
                text-decoration: none;
                display: flex;

                &:last-child {
                  margin-left: 5%;
                }
  
                i.devicon-github-original-wordmark {
                  align-items: center;
                  justify-content: center;
                  font-size: 2.5rem;
                  line-height: 2.5rem;
                  color: $color-dark;
                }

                img {
                  filter: invert(16%) sepia(7%) saturate(2579%) hue-rotate(314deg) brightness(103%) contrast(89%);
                  align-items: center;
                  justify-content: center;
                  height: 2.3rem;

                  &.youtube-icon {
                    height: 3rem;
                  }
                }
  
                &:hover {
                  color: $color-primary-bright-orange;

                  i.devicon-github-original-wordmark {
                    color: $color-primary-bright-orange;
                  }

                  img {
                    filter: invert(68%) sepia(41%) saturate(5978%) hue-rotate(6deg) brightness(101%) contrast(95%);
                  }
                }
              }
            }
          }
        }
      }

      &-front {
        height: 100%;
        background-color: $color-light;
        z-index: 100; // to hide backface in Safari
      }
  
      &-back {
        height: 100%;
        background-color: $color-light;
        transform: rotateY(180deg) translateZ(1px); // translateZ for Safari
        // z-index: 100; // to hide backface in Safari
      }

      // for particular cards
      // project#1: LiftQuest
      &-1 {
        &.card_side-front {
          .card_side-main .front-info .media {
            /* 
              default values: 
                max-width: 70%;
                height: 60%;
            */
            // height: 75%;
          }
        }
        // &.card_side-back {}
      }
      // project#2: Lambda Times
      &-2 {
        .card_side-main .front-info .media {
          // height: 90%;
        }
        // &.card_side-front {
        //   .card_side-main .front-info .media {
        //     // height: 80%;
        //   }
        // }
        // &.card_side-back {}
      }
      // project#3: hidden
      // &-3 {
      //   &.card_side-front {}
      //   &.card_side-back {}
      // }

      // project#4: Elephant Zoo
      &-4 {
        .card_side-main .front-info .media {
          // height: 56%;
          // max-width: 75%;
        }
        &.card_side-front {
          .card_side-main .front-info .media {
            // height: 54%;
          }
        }
        // &.card_side-back {}
      }

      // project#5: Smurf List
      &-5 {
        .card_side-main .front-info .media {
          // max-width: 75%;
          // height: 57%;
        }
        // &.card_side-front {}
        // &.card_side-back {}
      }

      // project#6: S&J
      &-6 {
        &.card_side-front {
          .card_side-main .front-info .media {
            // height: 100%;
          }
        }
        &.card_side-back {
          .card_side-main .front-info .media {
            // max-width: 60%;
            // height: 58%;
          }
        }
      }

      &-2, &-6.card_side-front {
          .description {
            // transform: translateY(-10%);
          }
      }
    }

    &:hover &_side-front {
      transform: rotateY(-180deg);
    }
  
    &:hover &_side-back {
      transform: rotateY(0);
    }

    &:nth-child(3) {
      display: none;
    }
}

// Media queries
@media (max-width: 1024px) {
  .card_side {
    &-main {
      .front-info {
          .media {
            width: 47%;
          }
          .project-text {
            width: 50%;
            font-size: 0.85rem;
          }
        }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 45vh;
    margin-bottom: 2vh;

    &:last-child {
      margin-bottom: 0;
    }

    &_side {
      &-main {
        .front-info {
            .media {
              width: 57%;
            }
            .project-text {
              width: 40%;
              font-size: 1.1rem;
            }
          }
      }

      &-front {
        display: none;
      }

      &-back {
        transform: rotateY(0);
      }
    }

    &:hover &_side-front {
      transform: rotateY(0);
    }

    &:hover &_side-back {
      transform: rotateY(0);
    }
  }
}

@media (max-width: 640px) {}


@media (max-width: 485px) {
  .card_side {
    &-main {
      .front-info {
        // .media {
        //   align-items: flex-start;
        // }

        .project-text {
          font-size: .8rem;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .card_side {
    .project-name {
      height: 10%;
    }
    &-main {
      height: 85%;
      .front-info {
        flex-direction: column;
      
        .media {
          width: 100%;
          height: 50%;
        }

        .project-text {
          width: 100%;
          height: 47%;
        }
      }
    }
  }
}

@media (orientation: portrait) and (max-width: 640px) {}