.skill {
    width: 90%;
    min-height: 100%;
    margin: 0 auto 5rem auto;
    background-color: rgba($color-light, .2);
    border-radius: 3px;
    padding: 10% 0;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        max-width: 20%;
        margin-left: 5%;
        margin-right: 0;
        transform: skewX(12deg);
        text-align: left;
        font-size: 3rem;
        line-height: 3rem;
        color: $color-primary-bright-orange;
        // border: 1px solid yellow;

        @media (max-width: 640px) {
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    &-list {
        min-width: 74%;
        min-height: 100%;
        margin: 1% 5% 1% 1%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        row-gap: 1rem;
        column-gap: 3%;

        list-style-type: none;
        transform: skewX(12deg);
        // border: 1px solid yellow;

        &-item {
            padding: .5rem;
            min-width: 30%;
            width: auto;
            font-family: 'Roboto Mono', monospace;
            color: $color-dark;
            font-size: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            // border: 1px solid teal;

            @media (max-width: 640px) {
                font-size: 1.6rem;
            }

            @media (max-width: 400px) {
                font-size: 1.4rem;
            }

            i {
                margin-right: .5rem;
                color: inherit;
                // border: 1px solid red;
            }

            img.icon {
                height: 2rem;
                margin-right: .5rem;
                color: inherit;
                filter: invert(16%) sepia(5%) saturate(3700%) hue-rotate(314deg) brightness(101%) contrast(89%);

                @media (max-width: 640px) {
                    height: 1.6rem;
                }

                @media (max-width: 400px) {
                    height: 1.4rem;
                }
            }
        }


        &-item:nth-child(even) {
            color: $color-grey-dark-3;

            i {
                color: inherit;
            }

            img.icon {
                filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(27deg) brightness(94%) contrast(91%);
            }
        }
    }

    &:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        transform: skewX(12deg);

        h2 {
            margin-right: 5%;
            margin-left: 0;
            width: auto;
            transform: skewX(-12deg);
            text-align: right;
            // border: 1px dotted green;
        }

        .skill-list {
            transform: skewX(-12deg);
            // border: 1px dotted green;
        }
    }

    &:hover {
        background-color: rgba($color-primary-bright-orange, .4);

        h2 {
            color: $color-light;
        }

        .skill-list {
            &-item {
                background-color: rgba($color-light, .05);
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}