*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background-color: black;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: $color-dark;
  color: $color-dark;
  margin: 0 auto;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $color-primary;
}

h1 {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 7rem;
  font-size: 7.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $color-dark;
}

a.name {
  color: transparent;
}

// breakpoints for the project
@media (max-width: 1024px) {} // do i need this one?

@media (max-width: 768px) {
  h1 {
    // font-weight: 500;
    // letter-spacing: -3px;
    line-height: 5rem;
    font-size: 5.5rem;
  }
  h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 640px) {}
@media (orientation: portrait) and (max-width: 640px) {}