*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background: $color-primary-light-orange;
}

html {
  font-size: 10px;
  background-color: black;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: $color-dark;
  color: $color-dark;
  margin: 0 auto;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  background-color: $color-primary;
}

h1 {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  letter-spacing: -3px;
  line-height: 7rem;
  font-size: 7.5rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 4rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $color-dark;
}

a.name {
  color: transparent;
}

.fixed-up {
  position: fixed;
  width: 100%;
  max-width: 1600px;
  padding: 1.5rem;
  background-color: transparent;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;


  a.circle {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-light;
    color: $color-primary-bright-orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: translate(-50%, -50%) scale(1.6);
    }
}
}

// breakpoints for the project
/* 1024 */
@media (max-width: 1024px) {
  h1 {
    line-height: 5.5rem;
    font-size: 6rem;
  }
  h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

/* 768 */
@media (max-width: 768px) {
  h1 {
    line-height: 4.5rem;
    font-size: 5rem;
  }
  h2 {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .fixed-up {
    justify-content: flex-start;

    a.circle:hover {
      transform: translate(50%, -50%) scale(1.6);
    }
  }
}

/* 640 */
@media (max-width: 640px) {
  h1 {
    line-height: 4rem;
    font-size: 4.5rem;
    letter-spacing: -1px;
  }
  h2 {
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .fixed-up {
    display: none !important;
  }
}

/* 565 */
@media (max-width: 565px) {
  h1 {
    line-height: 3.5rem;
    font-size: 3.5rem;
    letter-spacing: -1px;
  }
}

/* 475 */
@media (max-width: 475px) {}

/* 375 */
@media (max-width: 375px) {}

@media (orientation: portrait) and (max-width: 640px) {}